@import 'util/reset';
@import 'fonts';

body,
html {
	height: auto;
	min-height: 100%;
	font-family: Manrope, serif;
}

input,
textarea,
div[contenteditable='true'] {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: transparent;
	border: none;
	box-shadow: none;
	resize: none;
}

.business-card {
	display: flex;
	flex-direction: column;
	grid-template-rows: 52mm;
	grid-template-columns: 92mm;
	gap: 0;
	align-items: center;
	justify-content: center;
	margin: 40px auto;
	font-family: Manrope, serif;
	-webkit-print-color-adjust: exact;

	@media print {
		display: grid;
		grid-template-rows: 52mm;
		gap: 0;
		width: 92mm;
		margin: 0;
		zoom: 1;

		.card {
			display: block;
			width: 92mm;
			height: 100%;
			zoom: 1;
		}
	}

	.card {
		width: 92mm;

		border: 1mm solid #f4f4f4;
		zoom: 2.5;

		@media print {
			zoom: 1;
		}
	}
}

.card {
	overflow: hidden;
	color: #403e4b;
	background-color: #f4f4f4;
	border-radius: 1mm;

	@media print {
		border-radius: 0;
	}
}

.card.card--front {
	display: grid;
	grid-template-columns: 1fr 39mm;
	gap: 6mm;
	align-items: stretch;
	justify-items: start;
	padding: 3.6mm;

	& > div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		height: 100%;
	}

	.card-persona {
		$self: '.card-persona';

		#{$self}__fio {
			margin-bottom: 1.8mm;

			input {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				color: #5fc02e;
				font-weight: 500;
				font-size: 3.9mm;
				line-height: 120%;
				background: transparent;
				border: 0;

				&::placeholder {
					color: #5fc02e;
				}
			}

			input[name='business-card-firstname']:not(:focus) {
				text-transform: uppercase;
			}
		}

		label {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;

			> span {
				display: block;
				height: 0;
				overflow: hidden;
				transform: scale(0);
			}

			textarea,
			div[contenteditable='true'] {
				width: 100%;
				font-weight: 500;
				font-size: 2.4mm;
				line-height: 130%;
			}
		}
	}

	.logo-company {
		display: block;
		width: 35mm;

		//height: 15.21mm;
		//margin: 0 1.2mm 1.2mm;
	}

	.card-contacts {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 3mm;
		background: #fff
			image-set(url('~@images/card-contacts-gradient.png') 1x, url('~@images/card-contacts-gradient@2x.png') 2x)
			no-repeat center left;
		background-size: 0.3mm 29mm;
		border-radius: 2.9994mm;
		box-shadow: 0 1.1997mm 2.9994mm -0.8998mm rgb(64 62 75 / 8%);

		& > div {
			display: block;
			width: 100%;
		}

		textarea,
		div[contenteditable='true'] {
			width: 100%;
		}

		p {
			flex: 1;
			margin: 0;
			padding: 0;
			color: #403e4b;
			font-weight: 600;
			font-size: 1.7996mm;
			font-style: normal;
			line-height: 150%;

			span {
				color: #e80820;
			}
		}

		p + p {
			margin-top: 0.48mm;
		}

		input,
		textarea,
		div[contenteditable='true'] {
			display: block;
			color: #403e4b;
			font-weight: 600;
			font-size: 1.7996mm;
			font-style: normal;
			line-height: 150%;
			background-color: #f1f1f1;

			&::placeholder {
				color: #403e4b;
				font-size: 1.7996mm;
				line-height: 150%;
			}

			@media print {
				background-color: transparent;

				//&:empty {
				//	display: none;
				//}
			}
		}

		.contact-phone {
			display: flex;
			color: #403e4b;
			font-weight: 600;
			font-size: 1.7996mm;
			font-style: normal;
			line-height: 150%;

			> div {
				display: flex;
			}
		}
	}
}

.card.card--back {
	display: grid;
	grid-template-columns: 1fr 38mm;
	gap: 2.21mm;
	padding: calc(4mm - 0.12mm) 4mm 3.2mm;

	.qr {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4mm;
		background: #fff;
		border-radius: 2.3995mm;
		box-shadow: 0 1.4878mm 3.7194px -1.1158mm rgb(64 62 75 / 8%);

		> img {
			display: block;
			width: 100%;
		}
	}

	h2 {
		color: #5fc02e;
		font-weight: 600;
		font-size: 2.9994mm;
		line-height: 120%;
	}

	.leasing-categories {
		position: relative;
		margin-top: 1.44mm;
		padding: 2mm;
		background: #fff
			image-set(
				url('~@images/leasing-categories-gradient.png') 1x,
				url('~@images/leasing-categories-gradient@2x.png') 2x
			)
			no-repeat center left;
		background-size: 0.3mm 24mm;
		border-radius: 2.3995mm;
		box-shadow: 0 1.1997mm 2.9994mm -0.8998mm rgb(64 62 75 / 8%);

		> ul {
			display: flex;
			flex-direction: column;
			gap: 0.96mm;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.new-category {
			display: flex;
			align-items: center;
			margin-top: 2.46mm;
			color: #403e4b;
			font-size: 2.0995mm;
			line-height: 130%;

			&__icon {
				display: flex;
				flex: 0 0 2.4mm;
				align-items: center;
				justify-content: center;
				width: 2.4mm;
				height: 2.4mm;
				margin: 0 1.2mm 0 0;

				svg {
					display: block;
					width: 1.8mm;
					height: 1.8mm;
					margin: 0;
					padding: 0;
				}
			}

			&__title {
				font-weight: 600;
				font-size: 2.0995mm;
				line-height: 130%;
			}
		}
	}
}

.custom-checkbox {
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	line-height: 0;
	cursor: pointer;

	input[type='checkbox'] {
		position: relative;
		top: 0.2mm;
		flex: 0 0 2.4mm;
		box-sizing: border-box;
		width: 2.4mm;
		height: 2.4mm;
		margin: 0 1.2mm 0 0;
		padding: 0;
		border: 0.1199mm solid rgb(51 51 51 / 15%);
		border-radius: 0.7198mm;
		appearance: none;

		&:checked {
			background-color: #5fc02e;
			background-image: url('~@images/check.png');
			background-position: center;
			background-size: 2.4mm;
			border-color: #5fc02e;

			@media (min-resolution: 2dppx) {
				background-image: url('~@images/check@2x.png');
			}
		}

		&:checked + span {
			color: #5fc02e;
		}
	}

	span {
		font-weight: 600;
		font-size: 2.0995mm;

		/* line-height: 2.09958mm; */
		line-height: 130%;
	}
}

.no-print {
	@media print {
		display: none !important;
	}
}

.hints {
	width: 1000px;
	margin: 40px auto 0;
	font-size: 45px;
	line-height: 60px;
	text-align: center;

	@media print {
		display: none;
	}
}

.print {
	position: sticky;
	bottom: 20px;
	display: block;
	width: 400px;
	height: 50px;
	margin: 20px auto;
	padding: 10px;
	color: #fff;
	font-family: inherit;
	text-align: center;
	background-color: #5fc02e;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1.1997mm 2.9994mm -0.8998mm rgb(64 62 75 / 8%);
	cursor: pointer;
	backdrop-filter: blur(20px);

	&[disabled] {
		opacity: 50%;
	}
}

.swal2-container {
	backdrop-filter: blur(2px);

	button.swal2-confirm {
		background-color: #5fc02e;

		&:focus {
			box-shadow: 0 0 0 3px rgb(5 192 46 / 50%);
		}
	}
}

.footnote {
	display: flex;
	margin: 20px auto;
	padding: 10px 20px;
	color: #333;
	font-size: 20px;
	list-style: none;
	background: gold;
	border-radius: 10px;

	code {
		padding: 2px 5px;
		background-color: rgb(255 255 255 / 50%);
		border-radius: 2px;
	}

	> li {
		&::before {
			content: '*';
		}
	}
}
